body{
    /* background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%); */
    /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
    background: #ace0f9;
    background: linear-gradient(0deg, #fff1eb 0%, #ace0f9 40%);
    
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 1fr 0.5fr 1fr;
    grid-template-areas: 
    "hd"
    "zip"
    "fl"
    "bt"
    "ct";
    height:100vh;
    /* background: whitesmoke; */
    color: #fff;
    /* align-items: center;
    justify-content: center; */
    grid-gap: 0;
    margin:5%;
    padding: 5%;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;

}

.holder{
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.zip{
    grid-area: zip;
    width: 100%;
}
.feel{
    grid-area: fl;
    width: 100%;
}
.entry{
    background: rgba(59, 74, 107, .4);
    grid-area: ct;

    height: 100%;
}
.entry div{
    text-align: center;
}
.generateButton{
    grid-area: bt;
}

#entryHolder{

    height: 100%;
}

#date{

}

#temp{

}

#content{
}

.headline {
    text-align: center;
    grid-area: hd;
    width: 100%;
}
.title{
    text-align: center;

    font-size: 27px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 100%;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    /* width: 400px; */
    width: 100%;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
button:hover {
    background: lightskyblue;
    color: #fff;
    transition: ease 0.3s all;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    width: 100%;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

}
@media (min-width: 900px) {
    #app {
        grid-template-rows: 10% 400px 150px 200px;
        grid-template-columns: repeat(1fr, 4);
        grid-template-areas: 
        "hd hd"
        "zip fl"
        "bt bt"
        "ct ct";
        grid-gap: 1em;
        padding: 10px
    }
  } 
  @media (min-width: 1200px) {
    #app {
        margin: 20%
    }
  } 